#app {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#friends {
    grid-area: 2 / 2 / 10 / 5;
}

#add-friend {
    grid-area: 2 / 6 / 6 / 9;
    margin-bottom: 1%;
    background-color: #DBDBD5;
}

#update-friend {
    grid-area: 6 / 6 / 10 / 9;
    background-color: #DBDBD5;
}
